.food-masti-logo {
    width: 80px;
    height: 70px;
}

.navbar-brand img {
    width: 100px;
    height: 100px;
}

#navItem1 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem2 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem3 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem4 {
    color: #323f4b;
    font-family: "Roboto";
}
.banner-section-bg-container {
    height: 100vh;
    background-image: url("https://img.freepik.com/premium-photo/explore-vibrant-tastes-brazilian-cuisine-unforgettable-culinary_974154-26.jpg?size=626&ext=jpg&uid=R105847189&ga=GA1.1.368126606.1686044370&semt=ais");
    background-size: cover;
}
.banner-heading {
    color: white;
    font-family: "Roboto";
    font-size: 50px;
    font-weight: 300;
}
.banner-caption {
    color: #f5f7fa;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 300;
}
.custom-button {
    color: white;
    height: 40px;
    width: 130px;
    background-color: #d0d200;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;

}
.custom-outline-button {
    width: 130px;
    height: 40px;
    color: #d0d200;
    background-color: transparent;
    border-width: width;
    border-style: solid;
    border-color: #d0d200;
    border-radius: 8px;
}
.wcu-section {
    background-color: #f9fbfe;
}
.wcu-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}
.wcu-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}
.wcu-card {
    background-color: white;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
}
.wcu-card-image {
    width: 80px;
    height: 90px;
}
.wcu-card-title {
    color:#323f4b ;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
}
.wcu-card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
}
.offer {
    color: #323f4b;
    font-weight: 600;
    font-style: italic;
}
.explore-menu-section {
    background-color: white;
}
.explore-menu-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}
.menu-item-card {
    border-radius: 16px;
}
.menu-item-image {
    border-radius: 16px;
    width: 290px;
    height: 304px;
}
.menu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 19px;
    font-weight: 500;
    margin-top: 24px;
}
.menu-item-link {
    color: #d0b200;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}
.healthy-food-section {
    background-color: #f9fbfe;
}
.image-section {
    width: 270px;
}
.heading {
    color:#183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}
.description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;    
}.custom-button {
    color: white;
    background-image: linear-gradient(#d0b200, #a58d00);
    height: 45px;
    width: 130px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}
.delivery-and-payment-section{
    background-color: #f9fbfe;
}
.payment-image-card {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}
.thanking-customer-section {
    background-image: radial-gradient(#fff8db, #fae38c);
}
.thanking-customer-img {
    width: 270px;
    margin-bottom: 20px;
}
.fallow-us-section {
    background-color: white;
}
.follow-us-heading{
    color: #323f4a;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}
.icon {
    color: #d2b200;
    font-size: 35px;
}
.follow-us-icon-section {
    width: 80px;
    height: 80px;
    background-color: #ecd669;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 24px;
    margin: 15px;
    border-radius: 40px;
}
.footer-section {
    background-color:  #0d2436;
}
.footer-section-mail-id {
    color: #959ead;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}
.footer-section-address {
  color: #959ead;
  font-family: "Roboto";
  font-size: 14px;  
}
.thanking-section-modal-style {
    color: #d2b200;
    font-weight: 800;
}
